root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4

[*.{toml,cc,h,nix}]
indent_style = space
indent_size = 2

[CMakeLists.txt]
indent_style = space
indent_size = 2
